*{
    box-sizing: border-box;
}
/* styling for all h3 elements on the HeadSection */
h5 {
    font-size: 1.6rem;
    font-style: italic;
    text-align: center;
    color: #000;
}

h3 {
    font-size: 5.5rem;
    text-align: center;
    color: #000;    
    margin-bottom: 1rem;
}


/* styling for all h4 elements in the HeadSection */
h4 {
    font-size: 2rem;
    color: #000;
}

/* styling for all paragraph */
p{
    font-size: 1.6rem;
    margin: 1rem 0;
    padding-bottom: .5rem;
    color:#000;
}

.header_container{
 
    height: fit-content;
    width: 90vw;
    margin: 20px auto; 
    padding: 15px;
    box-shadow: 0px 2px 5px 5px #c38b0022 ;
    border-radius: 5px;
}

.header_container .contacts{
    display:flex;
    justify-content: space-between;
    width: 90%;
    margin: 1.5rem 1rem 0 1rem;
}


